pkgbase = slitty-git
	pkgdesc = Streaming terminal viewer with a fixed-height live pane
	pkgver = r0.e4c07bd
	pkgrel = 1
	url = https://github.com/clankercode/slit
	arch = x86_64
	arch = aarch64
	license = CC0-1.0
	makedepends = git
	makedepends = gcc
	makedepends = make
	conflicts = slitty
	conflicts = slit
	conflicts = slit-git
	provides = slitty
	provides = slit
	source = git+https://github.com/clankercode/slit.git
	sha256sums = SKIP

pkgname = slitty-git
